@charset "utf-8";
/* CSS Document */
@media screen and (max-width:800px) {

body {
		margin: 0;
	background: #FFFFFF;
	display: inline-flex;
	align-items: center;
	overflow: hidden;
	margin: 20px 20px;
	margin-top: 0;
}
}